@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Yellowtail&display=swap');

@mixin desktop {
    @media screen and (min-width: 660px) {
        @content
    }
 }

 $font-stack:'Krona One';

 footer {
    height: 85px;
    width: 100%;
    background-color: #004643;
    @include desktop() {
    height: 150px;
    } 
}

.AllRightsReserved {
    color: white;
    font-family:$font-stack;
    font-size: 20px;
    width: 30%;
}

.SocialNetworks {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10px;
    
   
   
    

}

.SocialFacebook {
    height: 32px;
    width: 32px;  
    background-color: #F9BC60;
    border-radius: 100%;
    border: black solid 1px;
     @include desktop() {
        height: 41px;
        width: 41px;
    } 
}

.SocialInstagram {
    height: 32px;
    width: 32px;
    background-color:#F6BFBF;
    border-radius: 100%;
    border: black solid 1px;
    @include desktop() {
        height: 41px;
        width: 41px;
    } 
}

.SocialMail {
    height: 32px;
    width: 32px;
    background-color: #E16162; 
    border-radius: 100%;
    border: black solid 1px;
    @include desktop() {
        height: 41px;
        width: 41px;
    } 
}

.SocialYoutube {
    height: 32px;
    width: 32px; 
    background-color: white; 
    border-radius: 100%;
    border: black solid 1px;
    @include desktop() {
        height: 41px;
        width: 41px;
    } 
}

.Social {
    margin: 10%;
}