@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin desktop {
    @media screen and (min-width: 660px) {
        @content
    }
 }


 $font-stack: 'Inter';
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;

}

.header {
    background-color: #004643;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    
    display: flex;
    justify-content: end;
    max-width: 1800px;
    
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: flex ;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width:max-content;
}


.nav-menu-link{
    padding: 9px 12px;
    border-radius: 3px;

}

.nav-menu-link:hover {
    background-color: rgb(0, 27, 26);
    transition: 0.5s;
}







