
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin desktop {
    @media screen and (min-width: 660px) {
        @content
    }
 }


$font-stack: 'Inter';

body {
   
    height: 100vh;
    background-image: url('../../assets/images/fondo_home.webp');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;

    .contenedor_fondo {
        width: 100%;
        
    }

    

    .SecTextoComoJugar {
        font-family: $font-stack;
        background-color:rgb(255, 255, 255, 0.35);
        padding: 10%;
        margin: 2%;
        text-align: justify;

        .ParrTextoComoJugar {
            font-size:15px;
            @include desktop(){
                font-size: 22px;
            }
        }
        
        .SecTituloComoJugar {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            @include desktop(){
                font-size: 24px;
            }
        }
        
    }
 }

