@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Yellowtail&display=swap');

header {
    height: 100px;
    width: 100%;
    background-color: #004643;
}

#logo {
    height: 60px;
    width: 60px;
    padding: auto;

}

h1 {
    font-family: inter;
    font-size: 20px;
    border-color: #F9BC60;
    color: #D7D7D7;
    text-shadow: 20px 20px;
}