@import url(../home/header.scss);
@import url(../home/footer.scss);
@import url(../home/navBar.scss);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Yellowtail&display=swap');
$font-stack: 'Inter';

*{
    margin: 0px;
    padding: 0px;
}

@mixin tablet {
    @media screen and (min-width: 550px) {
        @content
    }
}

@mixin computer-screen {
    @media screen and (min-width: 1024px) {
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: 660px) {
        @content
    }
}

.ScreenGame {
    background-image: linear-gradient(rgba(19, 10, 10, 0.5), rgba(51, 34, 34, 0.5)), url('../../assets/images/background-mobile.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh; 
}
.balloons-row{
    margin-left: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balloons-row img{
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 1rem;
    margin: 1rem;
}

body {
    font-family: $font-stack;
    @include tablet {
        background-color: #cddddc;

    }
    @include desktop {
        background-color: #cddddc;

    }
    @include computer-screen {
        background-color: #cddddc;
    }
}

h2 {
    text-align: center;
    font-size: 1.2em;
    @include desktop() {
        font-size: 2.2em;
    }
}

#Play{
    border-radius: 3em;
    padding: 0.4em 1.2em;
    background-color: #E16162;
    font-size: 1.2em;
    font-weight: bold;
    color:#004643;
    @include desktop() {
        font-size: 2em;
        border-radius: 0.6em;
        padding: 0.2em 1.1em;
    }
}

#imageSection {
    position: relative;
}

#balloonsSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
}

#playerName {    
    margin-top: 2rem;
    margin-left: 23rem;
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;

}
#IconAddUser {
    margin-top: 2rem;
    margin-right: 20rem;
    width: 2rem;
    cursor: pointer;
}

.Balloon {
    width: 10px;
    height: auto;
    position: absolute;
}

.BalloonsList {
    display: grid;
    grid-auto-flow: column;
    gap: 3px;
        
    grid-template-columns: 20% 70% 20% 0%; 
    .BalloonImg {
        width: 20px;
    }

}
/* 
#StartButton {
    display: block;    
    @include desktop() {
        

    }
} */

.PlayersIconsList {
    text-align: left;
    display: block;
    @include desktop() {
        display: none;   
    }
}

.BalloonsList >.BalloonImg {    
    width: 25px;    
    @include desktop() {
        width: 45px;
    }
}

.BalloonsList > .EditImg {
    cursor: pointer;
    @include desktop() {
        width: 45px;
    }
}    

.BalloonsList > .DeleteImg {  
    cursor: pointer;
    @include desktop() {
        width: 45px;
    }
} 

#playerNameList{
    padding-left: 5rem;
    padding-right: 4rem;
}

#IconAddUser {
    margin-left: 1em;
    @include desktop() {
        width: 3em;
    }
}

#PlayerInput {
    display: flex;
    align-items: center;
    justify-content: center;     
}

input {    
    background-color: #f1d4a9;    
    border: black 1px solid;
    border-radius: 5px;
    font-size: 1em;
}

.box-balloons {
    padding: 4rem;
    height: 700px;
    overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box-results{
    background-position: center center;
    margin-top: 1.5rem;
    overflow: hidden; 
    flex-wrap: wrap;
    align-content: flex-start;
}

.box-controls{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-balloons img{
    width: 3.7rem;
}

.balloons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

@include tablet(){

    .BalloonsList {
        display: grid;
        grid-auto-flow: column;
        gap: 3px;     
        grid-template-columns: 10% 70% 10% 0%; 

    }

    .box-balloons{
        padding: 5rem;
        margin-bottom: 2rem;
    }


    .ScreenGame {
        background-image: linear-gradient(rgba(19, 10, 10, 0.5), rgba(51, 34, 34, 0.5)), url('../../assets/images/background.PNG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh; 
    }


    .box-balloons img{
        margin-left: 1.5rem;
        width: 5rem;
    } 

    #playerNameList{
        padding-left: 6rem;
        padding-right: 4rem;
    }

    .BalloonsList img{
        padding: 0.3rem;
    }

}

@include computer-screen() { 

    .BalloonsList {
        display: grid;
        grid-auto-flow: column;
        gap: 3px;
            
        grid-template-columns: 10% 60% 10% 0%; 
        .BalloonImg {
            width:60%;
        }
    
    }

    .box-balloons{
        padding-left: 8rem;
    }

    .BalloonsList img{
        margin-left: 1rem;

    }

    .box-balloons img{
        width: 8.8rem;
    }

    #playerNameList{
        padding-left: 12rem;
        padding-right: 12rem;
    }

 

}

#BtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}
